<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>

	<form action="/updateFormVal" method="POST">{% csrf_token %}
		Name:&nbsp;&nbsp;&nbsp;<input type="text" name="name" value="{{data.name}}"><br><br>

		Roll:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="roll" value="{{data.roll}}" readonly><br><br>

		Course:&nbsp;&nbsp;<input type="text" name="course" value="{{data.course}}"><br><br>

		Marks:&nbsp;&nbsp;&nbsp;<input type="text" name="marks" value="{{data.marks}}"><br><br>

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">Click</button>
	</form>

</body>
</html>